.header{
    height: 70px;
    background-color: rgb(6, 44, 43)
}


.example-spacer {
    flex: 1 1 auto;
  }


span.brand-name{
    margin-left: 10px;
}

a.brand-name:hover{
    border : 1px solid whitesmoke ;
    border-radius: 5px;
} 
a.brand-name{
    color: white;
    text-decoration: none;
    padding: 10px;
}

