<!-- <p>sidebar works!</p> -->
<mat-card>
    <mat-action-list>
        <div mat-subheader>Admin Dashboard</div>

        <button routerLink="/admin/" mat-list-item><mat-icon mat-list-icon>home
        </mat-icon>Home</button>

        <button routerLink="/admin/profile" mat-list-item><mat-icon mat-list-icon>account_circle
            </mat-icon>Profile</button>



        <button routerLink="/admin/categoryCRUD" mat-list-item><mat-icon mat-list-icon>category</mat-icon>Product Category</button>

        <button routerLink="/admin/productCRUD" mat-list-item><mat-icon mat-list-icon>inventory_2</mat-icon>Products</button>

        <button routerLink="/admin/userCRUD" mat-list-item><mat-icon mat-list-icon>manage_accounts </mat-icon>Users</button>

        <button routerLink="/admin/sales" mat-list-item><mat-icon mat-list-icon>insights</mat-icon>Sales</button>
    </mat-action-list>
</mat-card>
